<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <marquee><p style="color:red;">NOTE: This WEB APP is made only for personal use. You should not expose this to public, as it does not secure the webpage using username and password. I recommend to host this on your localhost.</p></marquee>
    <h1 class="home">Welcome to PassNotes</h1>
    <h2>How to Use?</h2>
    <ul>
        <li><h3>Go to <a href="/getstarted">Get Started</a>for further steps</h3></li>
    </ul>
{{>footer}}
</body>
</html>
