<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h2> Manage your Saved Passwords</h2>
    <div class="container">
  <div class="row">
    <div class="col">
      Tagname
    </div>
    <div class="col">
      URL
    </div>
    <div class="col">
      Email
    </div>
    <div class="col">
      Password
    </div>
    <div class="col">
      Actions
    </div>
  </div>
</div>
{{>footer}}
</body>
