<!DOCTYPE html>
<head>
    {{>header}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function() {
    $('#example').DataTable( {
        "ajax": {
            "url": "/api/showpasswd",
            "dataSrc": ""
        },
        "columns": [
            { "data": "id" },
            { "data": "tagname" },
            { "data": "url" },
            { "data": "username" },
            { "data": "email" },
            { "data": "password" }
        ]
    } );
} );
    </script>
</head>
<body>
    {{>navbar}}
    <h2> Manage your Saved Passwords</h2>
    <div class="container">
  <div class="row">
    <div class="col">
      Tagname
    </div>
    <div class="col">
      URL
    </div>
    <div class="col">
      Email
    </div>
    <div class="col">
      Password
    </div>
    <div class="col">
      Actions
    </div>
  </div>
</div>

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>tagname</th>
                <th>url</th>
                <th>username</th>
                <th>email</th>
                <th>password</th>
            </tr>
        </thead>
    </table>
{{>footer}}
</body>
</html>
