<div class="container">
        <div class="text-center">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/interestform">Are you interestd?</a>
        <a href="/feedback">Feedback</a>
        <a href="/guide">Guide</a>
        </div>
</div>
