h1.home{
    text-align: center;
}
a{
    color: rebeccapurple;
    font-size: 23px;
}
header.home{
    align-items: center;
}
body
{
    background-color: firebrick;
    background-repeat: repeat;
    text-align: center;
}
.custom-form{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.custom-btn{
    padding: 20px;
}
