h1.home{
    text-align: center;
}
a{
    color: rebeccapurple;
    font-size: 23px;
}
header.home{
    align-items: center;
}
body
{
    background-color: firebrick;
    background-repeat: repeat;
    text-align: center;
}
